<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>besieged_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,90},{62,86}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{62,86}}</string>
                <key>sourceSize</key>
                <string>{64,92}</string>
            </dict>
            <key>besieged_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,2},{56,90}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,1},{56,90}}</string>
                <key>sourceSize</key>
                <string>{64,92}</string>
            </dict>
            <key>besieged_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{64,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{64,86}}</string>
                <key>sourceSize</key>
                <string>{64,92}</string>
            </dict>
            <key>besieged_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,94},{60,70}}</string>
                <key>offset</key>
                <string>{-2,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,17},{60,70}}</string>
                <key>sourceSize</key>
                <string>{64,92}</string>
            </dict>
            <key>besieged_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,178},{62,68}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,19},{62,68}}</string>
                <key>sourceSize</key>
                <string>{64,92}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>besieged.png</string>
            <key>size</key>
            <string>{128,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:312e0e13f8e48434d741152ab43b2848$</string>
            <key>textureFileName</key>
            <string>besieged.png</string>
        </dict>
    </dict>
</plist>
